# Python specific
myenv/
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
.env

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
media/
static/
local_settings.py

# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
*.log

# Next.js specific
.next/
out/
*.next/

# Docker specific
Dockerfile
docker-compose.yml
